<div>
  <p>
    Enable AI-powered editorial features to auto-generate image captions, image tags,<br/>
    content summary, and content tags.
    Configure {{ link('here', 'internal:/admin/config/ezcontent-smart-article/settings') }} to use AWS, Google, or
    Srijan AI<br/>
    service. All these services are based on licenses and would need API keys.
  </p>
</div>
