#layout-builder-modal {
  .dropbutton {
    list-style: none;
    padding-left: 0;
    li {
      margin-bottom: 10px;
    }
  }
  .paragraphs-dropdown-action.button {
    color: #000;
  }
}

.user-logged-in {
  .navbar-default {
    top: 79px;
  }

  &.toolbar-vertical {
    .navbar-default {
      top: 38px;
    }
  }
}
