#layout-builder-modal {
  .dropbutton {
    list-style: none;
    padding-left: 0;
    li {
      margin-bottom: 10px;
    }
  }
  .paragraphs-dropdown-action.button {
    color: #000;
  }
}

.user-logged-in {
  .ezcontent-header {
    top: 79px;
  }

  &.toolbar-vertical {
    .ezcontent-header {
      top: 38px;
    }
  }
}

.node-landing-page-layout-builder-form,
.layout-builder-discard-changes,
.layout-builder-revert-overrides {
  .form-control {
    width: auto;
  }
}
