.DS_Store
docroot/
vendor/
web/
composer.lock
themes/*/package-lock.json

# Ignore theme build artifacts
themes/*/node_modules
themes/*/styleguide
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.ht.router.php
/.htaccess
/INSTALL.txt
/README.txt
/autoload.php
/example.gitignore
/index.php
/robots.txt
/update.php
/web.config
