{% if content %}
  <div {{ attributes.addClass('full-width-content-template-wrapper') }}>
    <div class="container">
      {% if content.middle %}
        <div {{ region_attributes.middle.addClass('middle-region') }}>
          {{ content.middle }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
