//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.block--type-social-media{
  padding: 0;

  twitter-widget {
    margin: 30px auto !important;
    @include clearfix;
  }

  iframe {
    margin: 30px auto !important;
    @include clearfix;
  }
}
