.content-listing-component {
  .views-row {
    display: flex;
    margin-top: 50px;
    &:last-child {
      margin-bottom: 50px;
    }
  }
  .views-field-field-thumbnail {
    width: calc(50% - 20px);
    margin-right: 20px;
  }
  .views-field-title {
    width: 50%;
  }

  .right-content {
    .author-tags a, .title a {
      font-size: 20px;
      color: black;
      &:hover {
        color: black;
        text-decoration: none;
      }
    }
    .title {
      font-size: 24px;
    }
    .summary {
      font-size: 16px;
    }
  }
}
