//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.block--type-embed-block{
  margin: 30px 0;
  .block-title {
    text-align: center;
  }
  .field--name-field-script {
    max-width: 520px;
    margin: 0 auto;
  }

  iframe {
    margin: 0 auto;
    max-width: 100%;
  }
}
