//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.block--type-hero-media-block {
  margin: 30px 0 90px 0;
  padding: 0;

  .slick-arrow {

    &::before {
      color: $color-primary;
      opacity: 1;
    }

    &:hover::before {
      color: $color-primary;
    }

    &.slick-prev {
      left: -35px;
    }

    &.slick-next {
      right: -35px;
    }
  }

  .paragraph--type--card {
    @include clearfix;
    background: transparent;
    margin: 0;
    padding: 0;
    position: relative;

    .hero_media_content {
      @include backgroundopacity;
      display: block;
      height: auto;
      left: 0;
      padding: 20px 40px 20px 40px;
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .blazy__caption {
      background: rgba(0, 0, 0, .5);
      bottom: 0;
      color: $color-white;
      display: none;
      padding: 10px;
      position: absolute;
      text-align: center;
      width: 100%;

      &:empty {
        display: none;
      }
    }

    .field {

      &--name-field-title {
        @extend %h2;
        letter-spacing: 1px;
        line-height: 37px;
        padding: 0 10px;
        width: 100%;
        margin: 0;
        font-family: $heading-font;

        @include respond(tab-land) {
          font-size: 25px;
          line-height: 25px;
          width: 100%;
        }
      }

      &--name-field-short-title {
        font-size: 18px;
        padding: 5px 10px 0;
        margin: 0;

        @include respond(tab-land) {
          font-size: 14px;
        }
      }

      &--name-field-subhead {
        border-color: transparent;
        font-size: 16px;
        padding: 5px 10px 0;

        @include respond(tab-land) {
          font-size: 14px;
        }
      }

      &--name-field-summary {
        border-color: transparent;
        display: block;
        font-size: 14px;
        padding: 5px 10px;

        @include respond(tab-land) {
          font-size: 14px;
          padding: 5px 10px;
        }
      }

      &--name-field-link {
        padding: 0 10px;
        text-align: right;

        a {
          @include btnstyle;
          min-width: 150px;
        }
      }
    }
    &.paragraph--view-mode--hero-media {
      .field {
        &--name-field-media-image {
          padding: 0;
        }
      }
    }
  }
}
