//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.block--type-map-block {
  @include clearfix;
  padding: 30px 0;

  .block-title {
    margin-bottom: 5px;
  }

  .field {

    &--name-field-title {
      font-family: $heading-font;
      @extend %h2;
    }

    &--name-field-short-title {
      font-size: 18px;
      padding: 10px 0;
    }

    &--name-field-body {
      font-size: 16px;
      padding: 10px 0;
    }

    &--name-field-link {
      text-align: right;

      a {
        @include btnstyle;

      }
    }
  }
}


.block--type-text-block {
  margin-bottom: 60px;
}
