.paragraph--type--card .field--name-field-title {
  font-size: 20px;
  line-height: 24px;
  font-family: 'ProximaNovaT-Thin',  sans-serif;
  color: black;
}
@media only screen and (min-width: 37.5em) {
  .paragraph--type--card .field--name-field-title {
    font-size: 26px;
    line-height: 30px;
  }
}.paragraph--type--card {
  margin-bottom: 30px;
  padding: 0;
}
.paragraph--type--card::after {
  clear: both;
  content: "";
  display: table;
}
@media only screen and (min-width: 37.5em) {
  .paragraph--type--card.card_left_media .layout__region--second {
    padding: 0 0 0 80px;
  }
}@media only screen and (min-width: 37.5em) {
  .paragraph--type--card.card_right_media .layout__region--first {
    padding: 0 80px 0 0;
  }
}.paragraph--type--card .layout .layout__region img {
  margin: 0 auto;
}
.paragraph--type--card .layout .layout__region .block-field-blockparagraphcardfield-media {
  height: 100%;
}
.paragraph--type--card .layout .layout__region .block-field-blockparagraphcardfield-media div,
.paragraph--type--card .layout .layout__region .block-field-blockparagraphcardfield-media section {
  height: 100%;
}
.paragraph--type--card .field--name-field-title {
  font-family: "ProximaNovaT-Thin", sans-serif;
  margin-top: 20px;
  margin-bottom: 15px;
}
.paragraph--type--card .field--name-field-short-title {
  font-size: 14px;
  margin-bottom: 8px;
}
.paragraph--type--card .field--name-field-subhead {
  border-top: 1px solid #fff;
  font-size: 14px;
  margin-bottom: 8px;
}
.paragraph--type--card .field--name-field-summary {
  border-bottom: 1px solid #fff;
  display: block;
  font-size: 16px;
  margin-bottom: 15px;
}
.paragraph--type--card .field--name-field-media-image {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
}
.paragraph--type--card .field--name-field-link {
  text-align: right;
}
.paragraph--type--card .field--name-field-link a {
  background: #3367d6;
  border: 0;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  line-height: 1.42857143;
  margin-bottom: 0;
  padding: 7px 15px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.paragraph--type--card .field--name-field-link a:hover {
  background: #4285f4;
  color: #fff;
  text-decoration: none;
}
.paragraph--type--card .field--name-field-link a:focus {
  background: #4285f4;
  color: #fff;
  text-decoration: none;
}
