//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.paragraph--type--gallery-carousel {
  @include clearfix;
  margin-bottom: 30px;
  padding: 0;
  position: relative;

  .slick--thumbnail {
    .slick__slide {

      &.slick-current {
        transform: scale(1);
      }
    }

    .slick-track {
      padding: 10px 0 ;
    }
  }

  .slick-arrow {

    &::before {
      color: $color-primary;
      opacity: 1;
    }

    &:hover::before {
      color: $color-primary;
    }

    &.slick-prev {
      left: -35px;
    }

    &.slick-next {
      right: -35px;
    }
  }

  .blazy__caption {
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    color: $color-white;
    display: none;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 100%;

    &:empty {
      display: none;
    }
  }

  .slick-wrapper {
    margin-bottom: 0;
  }

  .slick-dotted {

    .slick__slide {
      height: 11px;
      width: 11px !important;
      display: inline-block;
      background: $color-grey-light-4;
      margin-right: 8px !important;
      margin-left: 0 !important;
      cursor: pointer;

      &:before {
        display: none !important;
      }

      &.slick-current {
        background: $color-primary;
        box-shadow: none !important;
      }
    }

    .slick-list {
      padding-top: 5px !important;
      padding-bottom: 30px;

      .slick-track {
        left: 0 !important;
        width: auto !important;
        text-align: left;
      }
    }
  }

}
