//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.paragraph--type--view {
  margin: 60px auto;

  .field {

    &--name-field-title {
      @extend %h2;
      margin-top: 20px;
    }

    .viewsreference--view-title {
      font-size: 22px;
      margin: 5px 0 20px;
    }
  }
}
