.footer {
  border-top: 1px solid $color-grey-light-dark;
  margin: 0;
  padding: 20px 0;
  &--about {
    &--address {
      position: relative;

      p {
        margin: 0;
      }

      &:after {
        background-color: $color-grey-light-dark;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        right: 15%;
        top: 0;
        width: 1px;
      }
    }
  }
}
.region-footer {
  .block--type-text-block {
    width: 25%;
    display: inline-block;
    margin-bottom: 0;
  }
  [aria-labelledby='block-footermenu-menu'] {
    width: 74%;
    display: inline-block;
    vertical-align: top;
  }
  .menu--footer-menu {
    li {
      display: inline-block;
      width: 25%;
      padding: 0 10px;
      a {
        padding: 0;
        color: black;
        &:hover,
        &:focus {
          background: transparent;
        }
      }
    }
  }
  .menu--privacy-policy  {
    li {
      display: inline-block;
      padding: 3px;
      a {
        padding: 0;
        color: black;
        font-family: $primary-font;
        font-size: 11px;
        &:hover,
        &:focus {
          background: transparent;
        }
      }
      &:last-child {
        float: right;
      }
    }
  }
  [aria-labelledby='block-privacypolicy-menu'] {
    border-top: 1px solid $color-grey-light-dark;
    float: left;
    font-size: 11px;
    padding: 20px 0 0 0;
    margin-top: 20px;
    width: 100%;
  }
}
