.footer {
  border-top: 1px solid $color-grey-light-dark;
  margin: 0;
  padding: 20px 0;
  &--about {
    &--address {
      position: relative;
      margin-bottom: 20px;
      @include respond(phone-min) {
        margin-bottom: 0;
        border-right: 1px solid $color-grey-light-dark;
      }

      p {
        margin: 0;
      }
    }
  }
}
.region-footer {
  display: inline-block;
  width: 100%;
  .block--type-text-block {
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid $color-grey-light-dark;
    @include respond(phone-min) {
      width: calc(25% - 30px);
      margin-right: 30px;
      border: none;
      margin-bottom: 0;
    }
  }
  .menu--footer-menu {
    @include respond(phone-min) {
      width: 74%;
    }
    display: inline-block;
    vertical-align: top;
  }
  .menu--footer-menu {
    li {
      display: inline-block;
      width: 100%;
      @include respond(phone-min) {
        width: 25%;
      }
      padding: 0 10px;
      a {
        padding: 0;
        color: black;
        &:hover,
        &:focus {
          background: transparent;
        }
      }
    }
  }
  .menu--privacy-policy  {
    border-top: 1px solid $color-grey-light-dark;
    float: left;
    font-size: 11px;
    padding: 20px 0 0 0;
    margin-top: 20px;
    width: 100%;
    .menu {
      padding: 0;
    }

    li {
      display: inline-block;
      padding: 3px 10px;
      @include respond(phone) {
        width: 100%;
        margin-bottom: 15px;
      }
      a {
        padding: 0;
        color: black;
        font-family: $primary-font;
        font-size: 11px;
        &:hover,
        &:focus {
          background: transparent;
        }
      }
      &.last {
        float: right;
      }
    }
  }
}
