.ezcontent-header {
  background: $color-white;
  border-bottom: 1px solid $color-grey-light-2;
  z-index: 99;
  .navbar-collapse {
    justify-content: flex-end;
  }
  .navbar-nav {
    .nav-link {
      color: $color-grey-light-3;
    }
  }
}

.ezcontent-main-wrapper {
  margin-top: 6em;
}
