@font-face {
    font-family:"ProximaNova-Regular";
    font-display: auto;
    src: local('ProximaNova-Regular');
    src:url("../fonts/proximanova/ProximaNova-Regular.woff") format("woff");
}
@font-face {
    font-family:"ProximaNova-Bold";
    font-display: auto;
    src: local('ProximaNova-Bold');
    src:url("../fonts/proximanova/ProximaNova-Bold.woff2") format("woff2");
}
@font-face {
    font-family:"ProximaNovaT-Thin";
    font-display: auto;
    src: local('ProximaNovaT-Thin');
    src:url("../fonts/proximanova/ProximaNovaT-Thin.woff2") format("woff2");
}
