@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin itemcenter {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin tablestyle {
  border-top: 1px solid $color-grey-light-2;
  line-height: 1.42857143;
  padding: 8px;
  vertical-align: top;
}

@mixin backgroundopacity {
  background-color: rgba(0, 0, 0, 0.37);
  border-width: 0;
  color: $color-white;
  letter-spacing: 0;
  line-height: 20px;
  margin: 0;
  opacity: 1;
}

@mixin btnstyle {
  background: $color-primary;
  border: 1px solid $color-primary;
  border-radius: 4px;
  color: $color-white;
  display: inline-block;
  font-size: 16px;
  line-height: 1.42857143;
  margin-bottom: 0;
  padding: 5px 10px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background: $color-primary;
    color: $color-white;
    text-decoration: none;
  }

  &:focus {
    background: $color-primary;
    color: $color-white;
    text-decoration: none;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
      @media only screen and (max-width: 37.5em) { @content };    //600px
  }
  @if $breakpoint == phone-min {
      @media only screen and (min-width: 37.5em) { @content };    //600px
  }
  @if $breakpoint == tab-port {
      @media only screen and (max-width: 56.25em) { @content };     //900px
  }
  @if $breakpoint == tab-land {
      @media only screen and (max-width: 75em) { @content };    //1200px
  }
  @if $breakpoint == big-desktop {
      @media only screen and (min-width: 112.5em) { @content };    //1800
  }
  @if $breakpoint == tab-port-min {
      @media only screen and (min-width: 56.25em) { @content };    //1800
  }
}

// placeholder
%h1 {
  font-size: 36px;
  line-height: 40px;
  @include respond(phone-min) {
    font-size: 42px;
    line-height: 46px;
  }
}
%h2 {
  font-size: 20px;
  line-height: 24px;
  @include respond(phone-min) {
    font-size: 30px;
    line-height: 34px;
  }
}
