body {
  color: $color-text;
  font-family: $secondary-font;
  font-family: $primary-font;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
caption {
  font-family: $primary-font;
  font-weight: 700;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

a {
  color: $color-primary;

  &:focus {
    color: $color-secondary;
  }

  &:hover {
    color: $color-secondary;
  }
}

table {
  thead {
    border: 1px solid $color-grey-light-2;

    tr {

      td {
        @include tablestyle;
      }

      th {
        @include tablestyle;
      }

    }
  }

  tbody {
    border: 1px solid $color-grey-light-2;

    tr {

      td {
        @include tablestyle;
      }

      th {
        @include tablestyle;
      }

    }
  }

  tfoot {
    border: 1px solid $color-grey-light-2;

    tr {

      td {
        @include tablestyle;
      }

      th {
        @include tablestyle;
      }

    }
  }

}

.nav {
  &.tabs--primary {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.main-container {
  min-height: 40rem;
}

img {
  max-width: 100%;
}
