// COLORS
$color-primary: #6ba439;
$color-secondary: #f8ab3d;

$color-white-light: #f2f2f2;
$color-grey-light-1: #f0f6eb;
$color-grey-light-2: #ddd;
$color-grey-light-3: #4a4a4a;
$color-grey-light-4: #e5e5e5;
$color-grey-light-dark: #e8e8e8;

$color-white: #fff;
$color-black: #000;
$color-text: #000;
$color-footer-border-lighter: rgba(107, 164, 57, 0.25);

// FONT SIZE
$default-font-size: 16px;

// fonts
$primary-font: 'ProximaNova-Regular', sans-serif;
$secondary-font: 'ProximaNova-Regular', sans-serif;
$heading-font: 'ProximaNovaT-Thin', sans-serif;
