//google font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap');

// COLORS
$color-primary: #337ab7;
$color-secondary: #f8ab3d;

$color-white-light: #f2f2f2;
$color-grey-light-1: #f0f6eb;
$color-grey-light-2: #ddd;

$color-white: #fff;
$color-black: #000;
$color-text: #212529;

// FONT SIZE
$default-font-size: 16px;

// fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
