//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.path-node:not(.page-node-type-landing-page) {
  .page-header {
    @extend %h1;
    border: none;
    margin-bottom: 10px;
  }
  .full {
  .content {
      > .field--name-field-subhead  {
        font-family: $heading-font;
        font-size: 32px;
        margin-bottom: 30px;
      }
    }
  }
  .paragraph--type--text {
    p,
    ol,
    ul {
      max-width: 810px;
      margin: 0 0 0 auto;
    }
    img {
      margin-bottom: 20px;
      width: 100%;
    }
    p {
      margin-bottom: 1em;
      line-height: 24px;
    }
  }
  .region-content {
    padding-bottom: 40px;
  }
}
