<footer class="footer" role="contentinfo">
  <section class="footer--top">
    <div class=" {{ container }}">
      <div class="footer--logo col-sm-6 no-padding">
        <a class="logo navbar-btn pull-left" href="/ezcontent-install/docroot/" title="Home" rel="home">
          <img src="/ezcontent-install/docroot/themes/ezcontent_theme/images/logo.svg" width="127" alt="Home">
        </a>
      </div>
      <div class="footer--social col-sm-6 no-padding text-right">
        <ul class="menu menu--copyright-menu nav">
          <li class="twitter social--list">
            <a href="#"> <img src="/ezcontent-install/docroot/themes/ezcontent_theme/images/socialTwitter.svg"
                width="30px" alt="Twitter"></a>
          </li>
          <li class="linkedIn social--list">
            <a href="#"> <img src="/ezcontent-install/docroot/themes/ezcontent_theme/images/socialLinkedin.svg"
                width="30px" alt="Linkedin"></a>
          </li>
          <li class="youtube social--list">
            <a href="#"> <img src="/ezcontent-install/docroot/themes/ezcontent_theme/images/socialYoutube.svg"
                width="30px" alt="Youtube"></a>
          </li>
          <li class="facebook social--list">
            <a href="#"> <img src="/ezcontent-install/docroot/themes/ezcontent_theme/images/socialFacebook.svg"
                width="30px" alt="Facebook"></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="footer--middle">
    <div class=" {{ container }}">
      <span class="footer--about col-sm-3 no-padding">
        <div class="footer--about--address">
          <p>Hindawi Limited</p>
          <p>Adam House, Third Floor</p>
          <p>1 Fitzroy Square</p>
          <p>London W1T 5HF</p>
          <p>United Kingdom</p>
        </div>
      </span>
      <span class="footer--about--menu  col-sm-9 no-padding ">
        <span class="col-sm-3">
          <ul class="menu menu--copyright-menu nav">
            <li class="first">
              <a href="#">About</a>
            </li>
          </ul>
        </span>
        <span class="col-sm-3">
          <ul class="menu menu--copyright-menu nav">
            <li class="first">
              <a href="#">Carrer</a>
            </li>
          </ul>
        </span>
        <span class="col-sm-3">
          <ul class="menu menu--copyright-menu nav">
            <li class="first">
              <a href="#">Contact us</a>
            </li>
          </ul>
        </span>
        <span class="col-sm-3">
          <ul class="menu menu--copyright-menu nav">
            <li class="first">
              <a href="#">Contact us</a>
            </li>
          </ul>
        </span>
      </span>
    </div>
  </section>
  <section class="footer--bottom">
    <div class=" {{ container }}">
      <span class="menu_footer_bottom col-sm-6 no-padding">
        <ul class="menu menu--copyright-menu nav">
          <li class="first">
            <a href="#">Privacy Policy | </a>
          </li>
          <li>
            <a href="#">Terms of Service | </a>
          </li>
          <li class="last">
            <a href="#">Copyright</a>
          </li>
        </ul>
      </span>
      <span class="footer_copyright  col-sm-6 no-padding text-right">
        <span>© 2019 Hindawi Ltd. All rights reserved.</span>
      </span>
    </div>
  </section>
</footer>
