//import
@import 'abstracts/mixins';
@import 'abstracts/variables';

.block-inline-blockmap-block {
  @include clearfix;
  padding: 30px 0;

  .block-title {
    margin-bottom: 5px;
  }

  .field {

    &--name-field-title {
      font-family: $secondary-font;
      font-size: 30px;
      font-weight: 500;
    }

    &--name-field-short-title {
      font-size: 18px;
      font-weight: 400;
      padding: 10px 0;
    }

    &--name-field-body {
      font-size: 16px;
      padding: 10px 0;
    }

    &--name-field-link {
      text-align: right;

      a {
        @include btnstyle;

      }
    }
  }
}
