//import
@import 'abstracts/mixins';
@import 'abstracts/variables';

.paragraph--type--referenced-card {
  @include clearfix;
  padding: 0;

  .layout {
    background: $color-white-light;
    padding: 15px 0;

    .layout__region {
      padding: 0 15px;

      img {
        margin: 0 auto;
      }

      .block-field-blocknodearticlefield-thumbnail {
        height: 100%;

        div,
        section {
          height: 100%;
        }
      }
    }
  }

  .block-field-blocknodearticletitle {

    a {
      font-size: 30px;
      font-weight: 500;
      margin-top: 20px;
      padding: 0 10px;

      &:hover {
        color: $color-black;
      }
    }
  }

  .field {

    &--name-field-article {

      >.field--item {
        background: $color-white-light;
        margin: 30px 0;
      }
    }

    &--name-field-summary {
      display: block;
      font-size: 16px;
      padding: 10px;
    }

    &--name-field-media-image {
      align-items: center;
      display: flex;
      margin: 0 auto;
    }
  }
}
