@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700|Roboto:300,400,500,700&display=swap');
@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'abstracts/font-family';
@import 'abstracts/typography';
@import 'layout/header';
@import 'layout/footer';
@import 'page/smart-article';
