//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.paragraph--type--assets {
  margin: 30px 0;
  padding: 0;

  .field {

    &--name-field-media-image {

      img {
        margin: 0 auto;
      }
    }
  }
}
