//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.paragraph--type--assets {
  margin-bottom: 30px;
  padding: 0;

  .field {

    &--name-field-media-image {

      img {
        margin: 0 auto;
      }
    }
  }
}
