//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.paragraph--type--card-list {
  margin-bottom: 30px;
  padding: 0;
  .paragraph--type--card {
    margin-bottom: 30px;
    @include respond(phone-min) {
      margin-bottom: 60px;
    }
  }

  >.field {

    &--name-field-title {
      @extend %h2;
      padding: 0 15px;
      margin-bottom: 15px;
      text-align: center;
      font-family: $heading-font;
      @include respond(phone-min) {
        margin-bottom: 30px;
      }
    }
  }

  .field {

    &--name-field-card {
      >.field--item {
        padding: 0 10px;
      }
    }
  }

  &.paragraph--view-mode--default,
  &.paragraph--view-mode--cards-grid {
    .field {

      &--name-field-card {
        display: flex;
        flex-wrap: wrap;
      }
      &--name-field-short-title{
        font-size: 16px;
      }
    }
  }

  &.paragraph--view-mode--cards-grid {
    .field {
      &--name-field-title {
        text-align: left;
      }
    }
  }
}
