//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.paragraph--type--card-list {
  background: $color-white;
  border: 1px solid $color-grey-light-2;
  margin-bottom: 30px;
  padding: 0;

  .paragraph--type--card {
    margin: 0;
  }

  >.field {

    &--name-field-title {
      font-size: 32px;
      letter-spacing: 1px;
      line-height: 50px;
      padding: 15px 10px 0;
      text-align: center;
      font-family: $heading-font;
    }
  }

  .field {

    &--name-field-card {
      >.field--item {
        padding: 10px;
      }
    }
  }
  &.paragraph--view-mode--default {
    .field {

      &--name-field-card {
        display:  inline-block;
      }
      &--name-field-short-title{
        font-size: 16px;
      }
    }
  }
}
