//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.paragraph--type--card {
  @include clearfix;
  margin-bottom: 30px;
  padding: 0;
  &.card_left_media {
    .layout__region--second {
      padding: 0 0 0 80px ;
    }
  }
  &.card_right_media {
    .layout__region--first {
      padding: 0 80px 0 0 ;
    }
  }
  .layout {

    .layout__region {

      img {
        margin: 0 auto;
      }

      .block-field-blockparagraphcardfield-media {
        height: 100%;

        div,
        section {
          height: 100%;
        }
      }
    }
  }

  .field {

    &--name-field-title {
      @extend %h2;
      font-family: $heading-font;
      margin-top: 20px;
      margin-bottom: 15px;
    }

    &--name-field-short-title {
      font-size: 14px;
      margin-bottom: 8px;
    }

    &--name-field-subhead {
      border-top: 1px solid $color-white;
      font-size: 14px;
      margin-bottom: 8px;
    }

    &--name-field-summary {
      border-bottom: 1px solid $color-white;
      display: block;
      font-size: 16px;
      margin-bottom: 15px;
    }

    &--name-field-media-image {
      align-items: center;
      display: flex;
      margin: 0 auto;
    }

    &--name-field-link {
      text-align: right;

      a {
        @include btnstyle;

      }
    }
  }
}
