//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.paragraph--type--faq {
  margin-bottom: 30px;
  padding: 0;

  a,
  a:link,
  a:visited {
    color: $color-text;
  }

  .ui-accordion {

    .ui-accordion-header {
      padding: 15px 15px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      color: $color-text;
      background-color: $color-white-light;
      border-color: $color-grey-light-2;
      margin-bottom: 10px;
      font-size: 20px;

      span.ui-accordion-header-icon {
        background: transparent !important;
        font-family: "Glyphicons Halflings" !important;
        margin: 0;
        text-indent: 0;

        &:before {
          content: "\e258";
          font-family: "Glyphicons Halflings" !important;
          display: block;
          font-size: 14px;
          color: #424242;
        }
      }

      &.ui-accordion-header-active {
        margin-bottom: 0;

        span.ui-accordion-header-icon {

          &:before {
            content: "\e259";
          }
        }

        a,
        a:link,
        a:visited {
          color: $color-text;
        }
      }
    }

    .ui-accordion-content {
      background-color: $color-white;
      border-radius: 4px;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
      box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

      &.ui-accordion-content-active {
        margin-bottom: 10px;
      }
    }
  }
}
