//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.paragraph--type--gallery {
  @include clearfix;
  margin: 30px 0;
  padding: 0;

  .field {

    &--name-field-title {
      font-size: 30px;
      margin-top: 20px;
      font-family: $heading-font;
    }

    &--name-field-body {
      display: block;
      font-size: 16px;
    }

    &--name-field-media-items {
      display: flex;
      flex-wrap: wrap;
      margin: 20px 0;
      align-items: center;
      justify-content: center;

      >.field--item {
        display: inline-block;
        flex: 0 0 25%;
        max-width: 25%;
        padding: 3px;
        @include respond(tab-port) {
          flex: 0 0 33.33333%;
          max-width: 33.33333%;
        }

        @include respond(phone) {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
    }

    &--name-field-media-image {
      align-items: center;
      display: flex;
      margin: 0 auto;
      overflow: hidden;

      img {
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
      }
    }
  }
}
