//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.paragraph--type--gallery {
  @include clearfix;
  margin-bottom: 30px;
  padding: 0;

  .field {

    &--name-field-title {
      @extend %h2;
      margin-top: 20px;
      font-family: $heading-font;
      margin-bottom: 10px;
    }

    &--name-field-body {
      display: block;
      font-size: 16px;
    }

    &--name-field-media-items {
      display: flex;
      flex-wrap: wrap;
      margin: 20px 0;
      align-items: center;
      justify-content: center;
      width: 100%;

      >.field--item {
        display: inline-block;
        padding: 2px;
      }
    }

    &--name-field-media-image {
      align-items: center;
      display: flex;
      margin: 0 auto;
      overflow: hidden;

      img {
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
      }
    }
  }
}
