//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.paragraph--type--gallery-carousel {
  @include clearfix;
  margin: 30px 0;
  padding: 0;
  position: relative;

  .slick--thumbnail {
    .slick__slide {

      &.slick-current {
        transform: scale(1);
      }
    }

    .slick-track {
      padding: 10px 0 ;
    }
  }

  .slick-arrow {

    &::before {
      color: $color-primary;
      opacity: 1;
    }

    &:hover::before {
      color: $color-primary;
    }

    &.slick-prev {
      left: -35px;
    }

    &.slick-next {
      right: -35px;
    }
  }

  .blazy__caption {
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    color: $color-white;
    display: none;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 100%;

    &:empty {
      display: none;
    }
  }
}
