//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.paragraph--type--map {
  @include clearfix;
  padding: 30px 0;

  .field {

    &--name-field-title {
      font-family: $heading-font;
      font-size: 30px;
    }

    &--name-field-short-title {
      font-size: 18px;
      padding: 10px 0;
    }

    &--name-field-body {
      font-size: 16px;
      padding: 10px 0;
    }

    &--name-field-link {
      text-align: right;

      a {
        @include btnstyle;

      }
    }
  }
}
