//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.paragraph--type--quote {
  padding: 10px 60px 10px 70px;
  position: relative;

  .field--name-field-quote {
    display: block;
    @extend %h1;
    margin-bottom: 12px;
    font-family: $heading-font;
    color: $color-grey-light-3;

    &::before {
      color: $color-primary;
      content: open-quote;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 120px;
      font-weight: bold;
      line-height: 120px;
      left: 0;
      top: 0;
      position: absolute;
      width: 90px;
    }
  }

  .field--name-job-title {
    font-size: 14px;
  }
}
