@import '../abstracts/variables';
@import '../abstracts/mixins';

.paragraph--type--referenced-card  {
  margin-bottom: 30px;
  .field--name-field-article {

     @include respond(phone-min) {
       display: flex;
       flex-wrap: wrap;
     }
      > .field__item {
       margin-bottom: 30px;
       @include respond(phone-min) {
          margin-bottom: 20px;
       }
       flex: 0 0 100%;

       &:nth-child(3n+2) {
         @include respond(phone-min) {
           margin: 0 20px;
         }
       }

       @include respond(phone-min) {
         max-width: calc(33% - 20px);
       }
       .layout__region {
         width: 100%;
         flex: 0 0 100%;
       }
     }
  }
  .block-field {
    &-blocknodearticlefield-thumbnail {
      margin-bottom: 10px;
    }
    &-blocknodearticletitle {
      @extend %h2;
      margin-bottom: 15px;
      a {
        color: black;
      }
    }
  }
}
