.page-node-type-smart-articl {
  .field--name-body {
    line-height: 28px;
  }
  .field--name-field-company-name {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .field--name-field-company-logo  {
    margin-bottom: 15px;
  }
}
.page-node-type-author {
  .field--name-field-media-image {
    img {
      border-radius: 5px;
      margin-right: 20px;
    }
  }
  .field--name-body  {
    line-height: 24px;
  }
}
