.paragraph--type--embed {
  padding: 0;
}
.paragraph--type--embed iframe {
  margin: 30px auto;
  max-width: 100%;
}
.paragraph--type--embed iframe::after {
  clear: both;
  content: "";
  display: table;
}
