/* Declare variable */
:root {
  --grey-color: #808080;
}

.tag-field-wrapper ul.tag-wrapper {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
}

.tag-field-wrapper ul.tag-wrapper li {
  float: left;
  margin-right: 10px;
  list-style: none;
  padding: 5px 20px;
  border: 1px solid #a6a6a6;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #333;
  border-radius: 7px;
}

.tag-field-wrapper ul.tag-wrapper li:hover {
  background: #0071b8;
  color: #fff;
  cursor: pointer;
}

.tag-field-wrapper ul.tag-wrapper li.list-disabled {
  color: var(--grey-color);
  text-decoration: none;
  pointer-events: none;
}

.disable-element {
  pointer-events: none;
  background-color: var(--grey-color);
  opacity: 0.4;
}

.hide {
  display: none !important;
}
